:root{
    --variavel: #090909;
    --ver: #f80000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden ;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    animation: cima 2s ease-in-out;
}
@keyframes cima {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 0.4;
    transition: all 200ms ease-in-out;
}

.navItems:hover {
    cursor: pointer;
    opacity: 1;
}

.navItems img {
    width: 20px;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    min-height: 100vh;
    height: auto;
}

.s1 {
    background-image: url('../images/imagem.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s1 h1{
    color: var(--ver);
    font-size: 100px;
    word-break: break-all;
    text-transform: uppercase;
    text-shadow: 0px 3px 10px var(--variavel);
    width: 100%;
    text-align: center;
    padding-top: 3vh;
    animation: esquerda 2s ease-in-out;
}

.s3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color:#0a516d ;
}
a{
    text-decoration: none;
}

.card{
    background-color:#84afc0e9 ;
    color: white;
    font-size: 20px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 10px black;
}
.card img{
    width: 100%;
    height: auto;
}
@keyframes esquerda {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
}

.s1 h2{
    color: white;
    font-size: 32px;
    text-shadow: 0px 3px 10px black;
    width: 100%;
    text-align: center;
}
@keyframes direita {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
}
#s2 {
    background-color: rgb(17, 98, 169);
}

#s3 {
    background-color: rgb(18, 85, 113);
}

.s4 {
    min-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.s5 {
    min-height: 60vh;
     display: flex;
     align-items: center;
     justify-content: center; 

}

.formulario{
    background-color: #090909;
    color: #ffff;
    box-shadow: 0px 3px 10px #2905aa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.formulario label{
    width: 100%;
    margin: -10px;
}

.formulario input{
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    width: 100px;
}

input:focus{
    outline: none;
    color: #0807;
    border-bottom: 2px solid white;
}

textarea{
    max-width: 250px;
    min-width: 250px;
    min-height: 150px;
    max-height: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: white;
}

textarea:focus{
    outline: none;
}

button{
    border: none;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    color: white;
    transition: all 200ms linear;
    width: 100%;
}

button:hover{
    background: white;
    color: #090909;
    cursor: pointer;
}

.card{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #090909;
}

.card img{
    width: 100%;
    height: auto;
}
.video{
    width: 560px;
    height: 315px;
    box-shadow: 0px 3px 10px #090909;
    border-radius: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    gap: 25px;
    background-color: rgb(71, 117, 127);
}
footer a img{
    opacity: 0.7px;
    transition: all 200ms ease-in-out;
}
footer a img:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) translateY(-5px);
}

@media (width <=800px) {
    .navWords {
        display: none;
    }

    nav{
        height: 80px;
        gap: 5vw;
    }

    .navItems img {
        width: 50px;

    }
} 